:root {
  --main-color: #10cab7;
  --secondry-color: #777;
  --section-padding: 60px;
  --section-background: #f6f6f6;
}
* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
body {
  font-family: "Work Sans", sans-serif;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* end global rules */
/* start components  */
.special-heading {
  color: #ebeced;
  font-size: 100px;
  text-align: center;
  letter-spacing: -3px;
  margin: 0;
  font-weight: 800px;
}
.special-heading + p {
  margin: -30px 0 0;
  font-size: 20px;
  text-align: center;
}
@media (max-width: 767px) {
  .special-heading {
    font-size: 60px;
  }
  .special-heading + p {
    font-size: 15px;
    margin-top: -20px;
  }
}
/* end components  */
/* start header */
.header {
  padding: 20px;
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .links {
  position: relative;
}
.header .links:hover .icon span:nth-child(2) {
  width: 100%;
}
.header .links .icon {
  width: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.header .links .icon span {
  background-color: #333;
  margin-bottom: 5px;
}
.header .links .icon span:first-child {
  width: 100%;
  height: 2px;
}
.header .links .icon span:nth-child(2) {
  width: 60%;
  height: 2px;
  transition: 0.4s linear;
  -webkit-transition: 0.4s linear;
  -moz-transition: 0.4s linear;
  -ms-transition: 0.4s linear;
  -o-transition: 0.4s linear;
}

.header .links .icon span:last-child {
  width: 100%;

  height: 2px;
}
.header .links ul {
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: #f6f6f6;
  position: absolute;
  right: 0;
  min-width: 200px;
  top: calc(100% + 20px);
  display: none;
}
.header .links:hover ul {
  display: block;
}
.header .links ul::before {
  content: "";
  border: 15px solid;
  position: absolute;
  right: 5px;
  top: -30px;
  border-color: transparent transparent #f6f6f6 transparent;
}
.header .links ul li a {
  display: block;
  text-decoration: none;
  color: black;
  padding: 15px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.header .links ul li a:hover {
  padding-left: 25px;
}
.header .links ul li:not(:last-child) a {
  border-bottom: 1px solid #ddd;
}
/* end header */
/* landing start */
.landing {
  width: 100%;
  height: 1000px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(https://elzerowebschool.github.io/HTML_And_CSS_Template_One/images/landing.jpg);
}
.intro-text h1 {
  color: var(--main-color);
  font-size: 50px;
  display: inline;
}
.intro-text p {
  font-size: 16px;
  line-height: 30px;
}
/* landing end */
/* features start  */

.features {
  background-color: #eee;
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}
.features .container {
  display: grid;
  grid-gap: 20px;

  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}
.feat {
  text-align: center;

  padding: 20px;
}
i {
  color: var(--main-color);
}
.feat h3 {
  margin: 30px 0;

  font-weight: 800;
}
.feat p {
  line-height: 1.8;
  color: var(--secondry-color);
  font-size: 17px;
}

/* features end  */
/* services start */
.services {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}
.services .services-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 30px;
  margin-top: 100px;
}
.services .services-content .srv {
  display: flex;
  margin-bottom: 40px;
}
.services .services-content .srv i {
  color: var(--main-color);
  flex-basis: 60px;
}
.services .services-content .srv .text {
  flex: 1;
}
.services .services-content .srv .text h3 {
  margin-top: 0;
}
.services .services-content .srv .text p {
  color: #777;
  font-weight: 300;
  line-height: 1.6;
}
.image {
  position: relative;
  z-index: 1;
}
.image.image-column::before {
  content: "";
  background-color: #2c4755;
  position: absolute;
  width: 100px;
  z-index: -1;
  bottom: -50px;
  left: 200px;
  height: 450px;
}
@media (max-width: 767px) {
  .services .services-content .srv {
    flex-direction: column;
    text-align: center;
  }
}
@media (max-width: 1200px) {
  .services .services-content .image {
    display: none;
  }
}
/* services end */
/* portfolio start */
.portfolio {
  background-color: #f6f6f6;
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}
.portfolio .portfolio-content {
  display: grid;
  padding-top: var(--section-padding);
  gap: 45px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}
.portfolio .portfolio-content .project {
  background-color: white;
}
.portfolio .portfolio-content .project .text h3 {
  padding-left: 20px;
}
.portfolio .portfolio-content .project img {
  width: 100%;
}
.portfolio .portfolio-content .project .text h3 + p {
  padding-left: 20px;
  line-height: 1.6;
  margin-top: 0px;
  color: #777;
}
/* portfolio end */
/* about start */
.about {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}
.about .about-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 100px;
}
.about .about-content .img {
  position: relative;
  max-width: 100%;
  height: 375px;
}
.about .about-content .img::before {
  content: "";
  position: absolute;
  background-color: #f6f6f6;
  width: 100px;
  z-index: -1;
  left: -20px;
  bottom: -10px;
  height: 110%;
}
.about .about-content .img::after {
  content: "";
  position: absolute;
  width: 120px;
  z-index: -1;
  left: 180px;
  bottom: 35px;
  height: 300px;
  border-left: 80px solid var(--main-color);
  border-bottom: 80px solid var(--main-color);
}
.about .about-content .text {
  width: 650px;
  line-height: 2;
}
.about .about-content .text hr {
  width: 50%;
  height: 1px;
  margin-top: 35px;
  margin-bottom: -5px;
  background-color: var(--main-color);
  display: inline-block;
}
/* Small */
@media (max-width: 1199px) {
  .about .about-content .img::before,
  .about .about-content .img::after {
    display: none;
  }
}
@media (max-width: 980px) {
  .about .about-content .img {
    left: 35%;
    padding-bottom: var(--section-padding);
  }
  .about .about-content .text {
    text-align: center;
    width: 100%;
    padding-top: var(--section-padding);
  }
}

/* about end */
/* contact start */
.contact {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-color: #f6f6f6;
}

.contact .contact-content .text {
  text-align: center;
  line-height: 0.7;
  padding-top: var(--section-padding);
}
.contact .contact-content .text h2 {
  color: #2c4755;
  font-size: 30px;

  font-weight: 800;
}
.contact .contact-content .text a {
  font-size: 35px;
  color: var(--main-color);
  text-decoration: none;
  display: block;
  cursor: pointer;
  font-weight: 800;
}
.contact .contact-content .text span {
  font-size: 15px;
  line-height: 4;
  display: inline-block;
}
/* contact end */
.footer {
  background-color: #2c4755;
  padding: 20px;
  text-align: center;
  color: white;
}
.footer span {
  color: var(--main-color);
}
